#apppages .view {
    min-height: 100vh;
/* background-image: url("https://images.pexels.com/photos/7054399/pexels-photo-7054399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/7947663/pexels-photo-7947663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-image: url("https://images.pexels.com/photos/33997/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;   
    background-size:cover;
    background-position: center center center center;
  }

  
