.custom-input-file {
    background-color: #fff;
    color: rgb(28, 147, 245);
    /* border: rgb(233, 16, 16); */
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 400px;
    border-color: #FF4F33;
    border-width: 1px;
    border-style: solid;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }
   .input-file {
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
    color: rgb(194, 230, 34);
   }