#apppages2 .view {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/589840/pexels-photo-589840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;   
  background-size:cover;
  background-position: center center;
}

