.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 20px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 40%;
    
    transform: translate(-30%, -30%);
}