#apppages3  {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/6443/apple-flowers-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;   
  background-size:cover;
  background-position: center center;
}

/* .apppages3  {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/6443/apple-flowers-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;   
  background-size:cover;
  background-position: center center;
}
 */

 .site-layout-background {
background: rgb(201, 64, 64);
}

