.logo1 {
    height: 32px;
    margin: 16px;
    background: rgba(182, 25, 25, 0.3);
  }
  
   .site-layout-background2 {
    background: #fff;
  }
  .site-layout-background1 {
    background: #4fc3f7;
  }
  .site-layout {
    background: #fff;
  }
  .sidevar{
    background: #fff;
  }

    