/* .logo {
    height: 32px;
    margin: 16px;
    background: rgba(182, 25, 25, 0.3);
  }
  
   .site-layout-background {
    background: rgb(248, 247, 247);
  }
  .site-layout-background1 {
    background: #4fc3f7;
  }
  .site-layout {
    background: #fff;
  }
  .sidevar{
    background: #fff;
  }

    [data-theme="light"] .site-layout .site-layout-background {
      background: #e21ce9;
    } */